<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css"> 
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" >
            
            <h1 class='margin0'>Lihat Zona Barang</h1>
            <div class="wrap-dashboard p-l-55 p-r-55 p-b-54 row">
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                    <a href="/dashboard"><button class="btn btn-danger float-left">Kembali</button></a>
                    <br><br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Kode Barang</th>
                                <th scope="col">Nama Barang</th>
                                <th scope="col">Stok</th>
                                <th scope="col">Kode Rak</th>
                                <th scope="col">Zona</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Go Potato</td>
                                <td>100</td>
                                <td>RK-1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                                <td>Go Rio</td>
                                <td>120</td>
                                <td>RK-1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                                <td>Spix</td>
                                <td>80</td>
                                <td>RK-1</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

			</div>
		</div>
	</div>	

</body>
</html>